.productContainer{
    display: flex;
    flex-wrap: wrap;
 }


.productContainer > .link {
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px #716a6a;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.productContainer > .link:hover{
    background-color: lightgray;
    font-size: 20px;
  }
  
  .productContainer > .link:active{
    font-size: 20px;
  }
  